{% extends 'fundraiser/base.html' %}
{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}

{% block body %}

<div class="container mt-5">
    <div class="row">
    <div class="col-lg-6 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
            <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Password Reset</h4>
            <p class="mx-3 mt-1 text-light">Forgot your password? Enter your email address below to be sent a password reset-link to your email.</p>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <fieldset class="module aligned">
                    <div class="input-group input-group-outline d-flex justify-content-center" style="">
                        {{ form.email.errors }}
                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">Email address</label>
                            <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                        </div>
                    </div>
                    <div >
                        <input class="btn bg-gradient-primary w-100 my-4 mb-2" style="border-radius:6px;" type="submit" value="Reset my password">
                    </div>
                </fieldset>
            </form>
        </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
</html>
